.button {
  background-color: transparent;
  border: 1px solid rgb(230, 230, 230);
  color: rgb(230, 230, 230);
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0.5rem;
  min-width: 4rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s, background 0.3s;
}

.button:hover,
.button.active {
  background-color: white;
  color: #1fb6e0;
}