.transition-enter > *:first-child {
  bottom: -10rem;
  display: block;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s, bottom 0.3s;
}

.transition-enter-active > *:first-child {
  bottom: 0;
  opacity: 1;
  transition: opacity 0.3s, bottom 0.3s;
}

.transition-exit > *:first-child {
  opacity: 1;
  position: relative;
  top: 0;
  transition: opacity 0.3s, top 0.3s;
}

.transition-exit-active > *:first-child {
  opacity: 0;
  top: -10rem;
  transition: opacity 0.3s, top 0.3s;
}

.transition-group {
  position: relative;
}

.route-container {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}