.copy-container {
  margin: 11% auto 0;
  max-width: 600px;
  width: 75%;
}

@media (orientation: landscape) {
  .copy-container {
    margin-top: 20%;
  }
}

.copy-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.copy-box::after {
  background: inherit;
  content: "";
  height: 100vw;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}