.container {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.header {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  /* left: 0; */
  letter-spacing: 1.2rem;
  line-height: 2rem;
  /* position: fixed; */
  /* right: 0; */
  text-align: center;
  top: 0;
  width: 100%;
}

.content {
  background: gray;
  flex-direction: column;
  display: flex;
  height: calc(100% - 2rem);
  /* margin-top: 2rem; */
  z-index: 5;
}

.content-view,
.menu {
  box-sizing: border-box;
  flex-basis: 50%;
  height: 100%;
}

.menu {
  align-items: center;
  background-color: rgba(55,160,185,1);
  display: flex;
  justify-content: center;
  z-index: 10;
}



@media (orientation: landscape) {
  .content {
    flex-direction: row;
  }
}